/* --- LAYOUT ADJUSTMENTS --- */
.contacts-container {
    padding: 0 !important;
    display: flex;
    height: calc(100vh - 90px);

    overflow: hidden;
}

/* --- LEFT LIST --- */
.contact-list-container {
    width: 400px;
    background-color: var(--white);
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.contact-list-btn-container {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.btn-add-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 12px;
    font-size: 21px;
}

.btn-add-contact img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.contact-list {
    flex: 1;
    overflow-y: auto;
    padding: 0 25px 25px 25px;
}

.contact-letter {
    font-size: 20px;
    padding: 15px 35px;
}

.contact-separator {
    height: 1px;
    background-color: #D1D1D1;
    margin-bottom: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.contact-item:hover {
    background-color: #F6F7F8;
    /* Light gray hover */
}

.contact-item.active {
    background-color: var(--primary-color);
    color: var(--white);
}

.contact-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 2px solid white;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-name {
    font-size: 20px;
}

.contact-email {
    color: #007CEE;
    font-size: 16px;
    text-decoration: none;
}

/* --- RIGHT DETAIL VIEW --- */
.contact-detail-view {
    flex: 1;
    padding: 60px;
    background-color: var(--bg-color);
    overflow-y: auto;
}

.contacts-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    position: relative;
}

.contacts-header h1 {
    font-size: 60px;
    font-weight: 700;
}

.header-divider-vertical {
    width: 3px;
    height: 60px;
    background-color: var(--secondary-color);
}

.header-subtitle {
    font-size: 27px;
    font-weight: 400;
}

/* --- DETAIL CONTENT --- */
.contact-detail-header {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.contact-avatar-large {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #FF7A00;
    color: white;
    font-size: 47px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.contact-detail-name-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-detail-name {
    font-size: 47px;
    font-weight: 500;
}

.contact-detail-actions {
    display: flex;
    gap: 15px;
}

.action-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    color: var(--primary-color);
}

.action-btn:hover {
    color: var(--secondary-color);
    font-weight: bold;
}

.contact-info-headline {
    font-size: 20px;
    margin-bottom: 25px;
}

.contact-info-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-label {
    font-weight: 700;
    font-size: 16px;
}

.info-value-email {
    color: #007CEE;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.info-value-phone {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

/* --- RESPONSIVE --- */
@media (max-width: 1000px) {
    .contacts-container {
        flex-direction: column;
        height: auto;
        overflow: visible;
    }

    .contact-list-container {
        width: 100%;
        height: auto;
    }

    .contact-detail-view {
        display: none;

    }
}