/* --- GLOBALE VARIABLEN --- */
:root {
    --primary-color: #2A3647;
    --secondary-color: #29ABE2;
    --bg-color: #F6F7F8;
    --white: #FFFFFF;
}

/* --- RESET & BASIC SETUP --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

input,
button {
    border: unset;
    outline: none;
}

/* Buttons */
button,
a {
    cursor: pointer;
    text-decoration: none;
}

/* --- GLOBALE BUTTON-KLASSEN --- */
.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: all 100ms ease-in-out;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.btn-primary:disabled {
    background-color: #959595;
    cursor: not-allowed;
}

/* --- UTILITIES --- */
.d-none {
    display: none !important;
}

/* --- HEADER PROFILE --- */
.profile-icon {
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.profile-icon:hover {
    color: var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

/* --- MOBILE LOGO (Global) --- */
.mobile-logo {
    position: absolute;
    top: 20px;
    left: 24px;
    height: 48px;
    width: auto;
    z-index: 5;
    display: none; 
}

@media (max-width: 1000px) {
    .mobile-logo {
        display: block; 
    }
}

/* --- SCROLL LOCK --- */
.no-scroll {
    overflow: hidden;
}