/* --- LAYOUT CONTAINER --- */
.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden; }

/* --- SIDEBAR --- */
.sidebar {
    width: 230px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    flex-shrink: 0; 
}

.sidebar-top {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.sidebar-logo {
    width: 100px;
    
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.menu-link {
    color: #CDCDCD;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.menu-link img {
    width: 25px;
}

.menu-link:hover, 
.menu-link.active {
    color: var(--white);
    background-color: #2A3D59; 
    font-weight: bold;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.legal-link {
    color: #A8A8A8;
    font-size: 14px;
    text-decoration: none;
}

.legal-link:hover {
    color: var(--secondary-color);
}

/* --- MAIN AREA --- */
.main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

/* HEADER */
.header {
    height: 90px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
    font-size: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.help-icon {
    width: 30px;
    height: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 18px;
}

.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 50px;
    overflow-y: auto; /* Scrollen nur im Content-Bereich */
}

.content h1 {
    font-size: 60px;
    font-weight: 700;
}