<img src="assets/img/join_logo_login.png" alt="Join Logo" class="mobile-logo">
<span class="header-title">Kanban Project Management Tool</span>
<div class="header-right">
    <a href="help.html" class="help-icon">?</a>
    <div class="profile-icon" onclick="toggleDropdown()">G</div>
    <div id="profileDropdown" class="profile-dropdown d-none">
        <a href="help.html">Help</a>
        <a href="legal-notice.html">Legal Notice</a>
        <a href="privacy-policy.html">Privacy Policy</a>
        <a href="#" onclick="logOut()">Log out</a>
    </div>
</div>